<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
</head>

<body>

<div th:fragment="footer">

    <hr/>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                
                <div>
                    <p class="text-center">&copy; 2022 Vitaliy Rodyna</p>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript"
            src="webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</div>

</body>
</html>